/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/index.scss */
.sign_main {
  width: 400px;
  /**background-color: #FBFEFE;**/
  border-top: 1px solid #e3e3e3;
  font-family: "Microsoft YaHei",SimHei;
  display: block;
}
/* line 7, ../sass/index.scss */
.sign_main .sign_succ_calendar_title {
  text-align: center;
  width: 398px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  background: #fff;
}
/* line 13, ../sass/index.scss */
.sign_main .sign_succ_calendar_title .calendar_month_next, .sign_main .sign_succ_calendar_title .calendar_month_prev {
  width: 34px;
  height: 40px;
  cursor: pointer;
  background: url(images/sign_arrow.png) no-repeat;
}
/* line 19, ../sass/index.scss */
.sign_main .sign_succ_calendar_title .calendar_month_next {
  float: right;
  background-position: -42px -6px;
}
/* line 23, ../sass/index.scss */
.sign_main .sign_succ_calendar_title .calendar_month_prev {
  float: left;
  background-position: -5px -6px;
}
/* line 27, ../sass/index.scss */
.sign_main .sign_succ_calendar_title .calendar_month_span {
  display: inline;
  line-height: 40px;
  font-size: 16px;
  color: #656565;
  letter-spacing: 2px;
  font-weight: bold;
}
/* line 37, ../sass/index.scss */
.sign_main .sign table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
/* line 41, ../sass/index.scss */
.sign_main .sign table th, .sign_main .sign table td {
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #e3e3e3;
}
/* line 48, ../sass/index.scss */
.sign_main .sign table th {
  font-size: 16px;
}
/* line 51, ../sass/index.scss */
.sign_main .sign table td {
  color: #404040;
  vertical-align: middle;
}
/* line 55, ../sass/index.scss */
.sign_main .sign table .on {
  background: url(../images/sign_have.gif) no-repeat center;
}
